@import "tailwindcss";

/* 003049-d62828-f77f00-fcbf49-eeeeee */

@theme {
  --color-one: #fef5e3;
  --color-two: #fcbf49;
  --color-three: #f77f00;
  --color-four: #d62828;
  --color-five: #003049;

  --breakpoint-xs: 375px;
  --xs: 375px;
  --breakpoint-sm: 575px;
  --sm: 575px;
  --breakpoint-md: 768px;
  --md: 768px;
  --breakpoint-lg: 992px;
  --lg: 992px;
  --breakpoint-xl: 1200px;
  --xl: 1200px;
  --breakpoint-xxl: 1600px;
  --xxl: 1600px;

  --vw-60: calc(100vw - 15rem);

  /* height */
  --vh-12: calc(100vh - 3rem);

  --font-public-sans: 'Public Sans', sans-serif;
  --font-noto-serif: 'Noto Serif', serif;
}

body {
  font-family: var(--font-public-sans), sans-serif !important;
}

.blog-post h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 1.5rem 0;
  font-family: var(--font-noto-serif), serif !important;
}

.blog-post h1 {
  font-size: 1.5rem;
}

.blog-post h2 {
  font-size: 1.25rem;
}

.blog-post h3 {
  font-size: 1.125rem;
}

.blog-post p {
  margin: 1.5rem 0;
  line-height: 1.65rem;
  font-size: 1rem;
  letter-spacing: 0.05px;
  text-align: justify;
}

.blog-post figure img {
  max-width: 75%;
  margin: 3rem auto;
  border-radius: 1rem;
}